.seperator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--text-color);
  margin-top: 10rem;
  width: 96rem;
  height: 8rem;
  font-size: 2.8rem;
  font-weight: 800;
  transform-origin: right top;
  transform: skewY(-3deg);
}
